
-> check for front page loading motions
-> think landing page
-> add smooth scrolling

1. about me - alloted
2. logo (maybe-last)
3. Education, Skills - alloted
4. some quote

Examples:-
https://www.adhamdannaway.com/
https://andrewborstein.com/ - projects tab
https://ejosue.com/about/
http://findmatthew.com/
https://github.com/john-smilga/react-projects
https://www.freecodecamp.org/news/build-portfolio-website-react/

colors:
773344
E3B5A4
F5E9E2
0B0014
D44D5C