@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --body: aliceblue;
    --heading: #0B0014;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--body);
    font-family: 'Josefin Sans', sans-serif;
}

/* ------------- Hero ----------------- */
.hero{
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
.hero .hero_top{
    position: absolute;
    width: 70%;
    height: 50%;
    top: 62px;
    left: 150px;
    background-color: var(--heading);
    animation: appear 2.5s linear;
}
.hero .hero_bottom{
    position: absolute;
    z-index: -1;
    width: 70%;
    height: 50%;
    bottom: 118px;
    right: 134px;
    background-color: var(--heading);
    animation: appear 2.5s linear;
}
.hero .hero_content{
    display: flex;
    position: absolute;
    width: 70%;
    height: 50%;
    padding: 5em;
    align-items: center;
    background-color: var(--body);
}

.hero .hero_content .hero_text{
    float: left;
    width: 60%;
    z-index: 3;
    animation: fadeleft 1.2s linear;
}

.hero .hero_content .hero_text h1{
    font-size: 70px;
    color: var(--heading);
    margin-bottom: 2%;
}

.hero .hero_content .hero_text h3{
    font-size: 20px;
    color: var(--heading);
    margin-bottom: 1.5%;
}

.hero .hero_content .hero_text p{
    font-size: 15px;
    color: var(--heading);
}

.hero .hero_content .hero_text .copyEmail{
    margin-top: 15%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    width: 50%;
    height: 3em;
    padding: 1em;
    text-align: left;
    background-color: var(--heading);
    color: var(--body);
    border-radius: 15px;
    cursor: pointer;
    border-style: none;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.35);
    transition: 0.2s;
}

.hero .hero_content .hero_text .copyEmail:hover{
    background-color: #E0777D;
    color: var(--heading);
    box-shadow: none;
}


.hero .hero_content .hero_text .copyEmail > i{
    padding-right: 0.5em;
}

.hero .hero_content .hero_img{
    width: 40%;
    float: right;
    margin-left: 10%;
    animation: faderight 1.2s linear;
}

.hero .hero_content .hero_img img{
    width: 100%;
    border-radius: 50%;
}

.scroll{
    text-align: center;
    height: 10vh;
    animation: appear 2.5s linear;
}

.scroll p{
    color: var(--heading);
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeleft{
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    50%{
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes faderight{
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}



/* ------------- Navbar ----------------- */

.navbar{
    width: 100vw;
    height: 12vh;
    background-color: var(--heading);
}